@font-face {
    font-family: 'Monster Energy';
    src: url("fonts/Green_Energy.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Simbiot';
    src: url('fonts/Simbiot.ttf');
    font-weight: normal;
    font-style: normal;
}

#root {
    z-index: 0;
    top: 0;
    left: 0;
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: visible;
}

.parent {
    position: relative;
    display: inline-block;
}

.child {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.three-portions {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: absolute;
}

.flex-one {
    flex: 1;
    position: relative;
}

.middle-part {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.middle-column {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.top-block {
    z-index: 100;
    width: 100%;
    height: 100px;
    position: relative;
    overflow: hidden;
    border: 2px dashed;
    border-radius: 10px;
}

.flavor-score {
    position: absolute;
    top: 0.25px;
    left: 0.2px;
    right: 0.45px;
    bottom: 0.5px;
    background-color: black;
    border-radius: 8px;
    z-index: 103;
}

.flavor-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-family: Monster Energy;
    font-size: 32px;
    font-weight: bold;
}

.bottom-block {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 0;
    height: 100px;
    width: 100%;
    bottom: 0;
    z-index: 100;
    padding-bottom: 5px;
}

.bottom-score-block {
    left: 0;
    z-index: 101;
    width: 95%;
    height: 100px;
    position: relative;
    overflow: hidden;
    border: 2px dashed;
    border-radius: 10px;
}

.bottom-left {
    left: 0;
}

.bottom-right {
    right: 0;
}

.score-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-family: Simbiot;
    font-size: 20px;
}

/* Buttons */
.left,
.right {
    max-width: 25px;
    z-index: 102;
    position: absolute;
    top: 50%;
    fill: white;
    transform: translateY(-50%);
    opacity: 0.5;
    transition: all 0.2s ease;
}

.left {
    left: 6%;
}

.left:hover {
    left: 5%;
    opacity: 1;
}

.right {
    right: 6%;
}

.right:hover {
    right: 5%;
    opacity: 1;
}

/* Chibi */
.chibi-layout {
    position: absolute;
    top: 0;
    margin-top: 104px;
    width: 100%;
    height: 100%;
    z-index: 105;
}

.chibi {
    position: absolute;
    display: grid;
    height: 100px;
    width: 75px;
    height: 75px;
    justify-items: center;
}

.david {
    left: 10%;
    top: 55%;
}

.will {
    right: 10%;
    top: 15%;
}

.chibi-img {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: white;
    bottom: 0;
}

.speech-block {
    position: relative;
    overflow: hidden;
    border: 2px dashed;
    border-radius: 10px;
    width: 50px;
    height: 10px;
    z-index: 100;
}

/* Speech Bubble */
.speech-bubble {
    position: absolute;
    top: 0.25px;
    left: 0.2px;
    right: 0.3px;
    bottom: 0.1px;
    background-color: black;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    color: white;
    z-index: 103;
}

.speech-bubble-text {
    /* Something here */
    font-family: 'Times New Roman', Times, serif;
}

.large-speech-block {
    position: relative;
    overflow: hidden;
    border: 2px dashed;
    border-radius: 10px;
    width: 300px;
    height: 350px;
    z-index: 105;
}

.large-speech-bubble {
    position: absolute;
    top: 0.25px;
    left: 0.2px;
    right: 0.45px;
    bottom: 0.5px;
    background-color: black;
    border-radius: 8px;
    z-index: 106;
}

.large-bubble-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 12px; /* add desired padding */
    overflow: auto;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}


@media (max-height: 605px) {
    .top-block {
        height: 75px;
    }

    .chibi-layout {
        margin-top: 75px;
    }
}

@media (max-height: 402px) {
    .top-block {
        height: 50px;
    }

    .chibi-layout {
        margin-top: 50px;
    }
}

@media (max-height: 185px) {
    .top-block {
        height: 30px;
    }

    .chibi-layout {
        margin-top: 30px;
    }
}

@media (max-height: 130px) {
    /* Just make everything disappear I don't wanna deal with this shit */
}
